* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    overflow: hidden;
}

.container {
    height: 100vh;
    width: 100vw;
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.dino {
    background-image: url("dino.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 114px;
    width: 233px;
    position: absolute;
    bottom: 0;
    left: 80px;
}

.jump {
    animation: dino 0.6s linear;
}

@keyframes dino {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 444px;
    }

    100% {
        bottom: 0;
    }
}

.obstacle {
    background-image: url("dragon.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 113px;
    width: 166px;
    position: absolute;
    bottom: 0;
    left: 60vw;     
}

.obstacleAni {
    animation: obstacle 5s linear infinite;
}


@keyframes obstacle {
    0% {
        left: 100vw;
    }

    100% {
        left: -10vw;
    }

}

.scoreContainer {
    position: absolute;
    padding: 10px;
    left: 30px;
    top: 23px;
    border: 3px solid black;
    width: 6vw;
    font-size: 20px;
    font-weight: bold;
}

.highScoreContainer {
    position: absolute;
    padding: 10px;
    right: 23px;
    top: 23px;
    border: 3px solid black;
    width: 9vw;
    font-size: 20px;
    font-weight: bold;
}

.controls {
    position: absolute;
    top: 15vh;
    left: 23px;
    font-size: 18px;
}

.controls p {
    margin: 12px;
}

.start {
    position: relative;
    top: 63px;
    font-size: 30px;
    text-align: center;
}